# 禁止访问数据目录
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<Directory "data">
    Order allow,deny
    Deny from all
</Directory>

# 启用 CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

# 启用 PHP
AddHandler application/x-httpd-php .php
